* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
}

header #menu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header #menu ul li {
  list-style: none;
  text-decoration: none;
  padding: 20px;
  color: darkblue;
}

header #menu ul li:hover {
  background-color: lightblue;
  cursor: pointer;
}

footer img {
  width: 100%;
}

#container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#container a {
  width: calc(100% / 3);
}

#container a #prodotto {
  width: 100%;
  position: relative;
  padding: 10px;
}

#container a #prodotto img {
  width: 100%;
}

#container a #prodotto #layover {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
}

#container a #prodotto:hover #layover {
  z-index: 5;
  background-color: darkcyan;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

